@using FRA.Web.Models
@model FRA.Data.View.RiskTemplateView


<form name="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit Template" })

    <div class="modal-body userModalForm">
        <input type="hidden" asp-for="CategoryIndex" />
        <input type="hidden" asp-for="SectionIndex" />
        <input type="hidden" asp-for="DataId" />

        <!-- Begin Template input -->
        <div class="form">

            <!-- Category list -->
            <div class="form-group row">
                <div class="inlineForm">
                    <div id="categoryList">
                        <label class="textFWith120">Select Category</label>
                        <select class="custom-select textFWith483" id="CategoryId" onchange="getSectionBasedOnCategory()">
                            @foreach (var item in Model.CategoryList)
                            {
                                if (Model.CategoryIndex == item.Key)
                                {
                                    <option selected="selected" value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                                
                            }

                        </select>
                    </div>

                </div>
            </div>
            <!-- End Category list -->
            <!-- Section list -->
            <div class="form-group row">
                <div class="inlineForm">
                    <div id="sectionList">
                        <label class="textFWith120">Select Section</label>
                        <select class="custom-select textFWith483" id="SectionId">
                            @foreach (var item in Model.SectionList)
                            {        
                                if (Model.SectionIndex == item.Key)
                                {                                    
                                    <option selected="selected" value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <!-- End Section list -->

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="TempNumber" class="textFWith120"> Number</label>
                    <input id="idTempNumber" asp-for="TempNumber" class="form-control textWith150"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="Impact" class="textFWith120"> Impact</label>
                    <input id="idImpact" asp-for="Impact" class="form-control textWith150"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="Questions" class="textFWith120"> Questions</label>
                    <input id="idQuestions" asp-for="Questions" class="form-control textWith150"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="ControlGuidelines" class="textFWith120"> Guidelines</label>
                    <textarea id="idControlGuidelines" asp-for="ControlGuidelines" class="form-control textWith150" style="height: 110px"></textarea>
                </div>
            </div>

        </div>
        <!-- End Template input -->
    </div>
</form>

<div class="modal-footer">
    <button class="btn btn-success" id="EditTemplate" onclick="EditRiskTemplate()">Submit</button>
    <button id="CancelRisk" class="btn btn-secondary" type="button" onclick="cancelTemplate()">Cancel</button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}